* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    margin: 0;

    overflow: hidden;

    background: #090d24;

    font-family: Arial, sans-serif;
}

.arena {

    position: relative;

    width: 100vw;

    height: 100vh;

    overflow: hidden;

    background:

        radial-gradient(
            circle at center,

            #5f56d8 0%,
            #3b348c 35%,
            #1d1d52 70%,
            #090d24 100%
        );

    transition: background 1.5s ease;
}

.arena.party {

    background:

        radial-gradient(
            circle at center,

            #776cff 0%,
            #4d42b0 35%,
            #28266a 70%,
            #090d24 100%
        );
}

#overlay {

    position: absolute;

    inset: 0;

    background: rgba(0, 0, 0, 0.15);

    z-index: 1;
}

/* KING */

#king,
#kingConfetti {

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    width: 260px;

    z-index: 100;

    opacity: 0;

    transition: all 1.2s ease;

    filter:

        drop-shadow(0 0 40px rgba(255, 217, 80, 0.9))
        drop-shadow(0 0 80px rgba(255, 217, 80, 0.5));
}

#kingConfetti {

    display: none;

    opacity: 0;
}

.kingTop {

    top: 10% !important;

    left: 50% !important;

    width: 170px !important;

    transform: translate(-50%, 0) !important;
}

/* SPEECH */

#speech {

    position: absolute;

    left: 50%;

    top: 72%;

    transform: translateX(-50%);

    background: white;

    color: #222;

    padding: 18px 28px;

    border-radius: 18px;

    font-size: 24px;

    font-weight: bold;

    opacity: 0;

    z-index: 120;

    transition: opacity .6s ease;
}

/* CONFETTI */

.confetti {

    position: absolute;

    width: 12px;

    height: 12px;

    border-radius: 50%;

    z-index: 200;

    animation: confettiFall 3s linear forwards;
}

@keyframes confettiFall {

    from {

        transform: translateY(-20px) rotate(0deg);

        opacity: 1;
    }

    to {

        transform: translateY(110vh) rotate(720deg);

        opacity: 0;
    }
}


#battleText {

    position: absolute;

    top: 35%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 28px;

    font-weight: 700;

    letter-spacing: 3px;

    color: rgba(255, 255, 255, 0.22);

    text-shadow: none;

    z-index: 20;

    transition: all 0.8s ease;
}

.balloon,
.confettiGoblin,
#cakeGoblin {

    position: absolute;

    opacity: 0;

    z-index: 50;

    transition: all 3.8s cubic-bezier(.22, 1, .36, 1);

    filter:
        drop-shadow(0 12px 20px rgba(0, 0, 0, 0.7));
}

.balloon {

    width: 180px;
}

.confettiGoblin {

    width: 180px;
}

#cakeGoblin {

    width: 220px;
}

/* START */

.b1 {

    top: -290px;
    left: 2%;
}

.b2 {

    top: -300px;
    left: 80%;
}

.b3 {

    top: -320px;
    left: 58%;
}

.c1 {

    top: 40%;
    left: -260px;
}

.c2 {

    top: 58%;
    left: -260px;
}

.c3 {

    top: 48%;
    right: -260px;
}

.c4 {

    top: 62%;
    right: -260px;
}

#cakeGoblin {

    top: 55%;
    left: -350px;
}

/* FINAL */

.b1.show {

    opacity: 1;

    top: 33%;

    left: 10%;
}

.b2.show {

    opacity: 1;

    top: 35%;

    left: 76%;
}

.b3.show {

    opacity: 1;

    top: 50%;

    left: 58%;
}

.c1.show {

    opacity: 1;

    left: 22%;
}

.c2.show {

    opacity: 1;

    left: 8%;
}

.c3.show {

    opacity: 1;
    top:52%;
    right: 18%;
}

.c4.show {

    opacity: 1;
    top:68%;
    right: 4%;
}

#cakeGoblin.show {

    opacity: 1;

    left: 42%;

    transform: translateX(-50%);
}

.bounce {

    animation: bounce .7s infinite alternate;
}

@keyframes bounce {

    from {

        transform: translateY(0px);
    }

    to {

        transform: translateY(-12px);
    }
}

#fallenCake{
    position:absolute;
    width:220px;
    left:42%;
    top:52%;
    transform:translateX(-50%);
    opacity:0;
    z-index:55;
    transition:0.5s;
}

#fallenCake.show{
    opacity:1;
}
