* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;
}

.arena {

    position: relative;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background:

        radial-gradient(circle,

            #6c5cff 0%,
            #41308e 45%,
            #141a43 100%);
}

.arena.party {

    background:

        radial-gradient(circle,

            #796bff 0%,
            #4937aa 45%,
            #141a43 100%);
}

#overlay {

    position: absolute;

    inset: 0;

    background: rgba(0, 0, 0, .2);
}

#battleText {

    position: absolute;

    top: 26%;

    left: 50%;

    transform: translate(-50%, -50%);

    color: rgba(255, 255, 255, .18);

    font-size: 24px;

    letter-spacing: 4px;

    z-index: 20;

    transition: .8s;
}

#king,
#kingConfetti {

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 250px;

    z-index: 100;

    transition: 1s;

    filter:

        drop-shadow(0 0 40px gold);
}

#kingConfetti {

    display: none;

    opacity: 0;
}

.kingTop {

    top: 10% !important;

    width: 170px !important;
}

#speech {

    position: absolute;

    left: 50%;
    top: 72%;

    transform: translateX(-50%);

    background: white;

    padding: 16px 24px;

    border-radius: 18px;

    font-weight: bold;

    opacity: 0;

    transition: .5s;

    z-index: 150;
}

.balloon,
.confettiGoblin,
#cakeGoblin {

    position: absolute;

    opacity: 0;

    transition: 3s cubic-bezier(.22, 1, .36, 1);

    z-index: 60;
}

.balloon {

    width: 180px;
}

.confettiGoblin {

    width: 160px;
}

#cakeGoblin {

    width: 220px;
}

/* start */

.b1 {

    top: -300px;
    left: 0;
}

.b2 {

    top: -350px;
    left: 100%;
}

.b3 {

    top: -300px;
    left: 50%;
}

.c1 {

    top: 45%;
    left: -300px;
}

.c2 {

    top: 65%;
    left: -300px;
}

.c3 {

    top: 48%;
    right: -300px;
}

.c4 {

    top: 65%;
    right: -300px;
}

#cakeGoblin {

    top: 56%;
    left: -400px;
}

/* end */

.b1.show {

    opacity: 1;

    top: 34%;

    left: 10%;
}

.b2.show {

    opacity: 1;

    top: 34%;

    left: 76%;
}

.b3.show {

    opacity: 1;

    top: 50%;

    left: 58%;
}

.c1.show {

    opacity: 1;

    left: 18%;
}

.c2.show {

    opacity: 1;

    left: 4%;
}

.c3.show {

    opacity: 1;

    right: 18%;
}

.c4.show {

    opacity: 1;

    right: 4%;
}

#cakeGoblin.show {

    opacity: 1;

    top: 50%;

    left: 42%;
}

.bounce {

    animation: bounce .6s infinite alternate;
}

@keyframes bounce {

    from {

        transform: translateY(0);
    }

    to {

        transform: translateY(-12px);
    }
}

.confetti {

    position: absolute;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    animation: confettiFall 3s linear forwards;
}

@keyframes confettiFall {

    to {

        transform: translateY(110vh);

        opacity: 0;
    }
}

#fallenCake {

    position: absolute;

    width: 220px;

    top: 50%;

    left: 42%;

    opacity: 0;

    z-index: 80;
}

#fallenCake.show {

    opacity: 1;
}

#miner {

    position: absolute;

    width: 170px;

    left: 44%;

    bottom: -220px;

    z-index: 90;

    transition: 1s;
}

#miner.show {

    bottom: 10%;
}
