*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050505;
  color:white;
  font-family:Abadi,sans-serif;

  disply:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  text-align:center;
}

.loader{
  width:70%;
  max.width:600px;
}

h1{
  font-size:50px;
  margin-bottom:25px;
}

p{
  color:#bbbbbb;
  margin-bottom:20px;
}

.progress{
  width:100%;
  height:10px;
  background:#222;
  border-radius:20px;
  overflow:hidden;
}

#progressBar{
  width:0%;
  height:100%;
  background:#FFD700;
  transition:0.8s;
}
