:root{

--bg:#0B1D33;
--card:#16324F;
--text:#F6EAD8;
--muted:#C7B8A4;
--gold:#C9A86A;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);
height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:'Inter',sans-serif;

overflow:hidden;

}

body::before{
  content:"";
  position:fixed;
  inset:0;
  opacity:06;
  background-image:
  radial-gradient(circle at 20% 20%, rgba(255,255,255,.12) 1px, transparent 1px),
  radial-gradient(circle at 80% 40%, rgba(255,255,255,.08) 1px, transparent 1px),
  radial-gradient(circle at 60% 70%, rgba(255,255,255,.10) 1px, transparent 1px),
  radial-gradient(circle at 30% 80%, rgba(255,255,255,.07) 1px, transparent 1px),
  background-size:120px 120px;
  mix-blend-mode:soft-light;
}

.loader{

text-align:center;
width:420px;
animation:fade 1.5s ease;
}

.logo{

font-size:34px;
color:var(--gold);

margin-bottom:28px;

text-shadow:
  0 0 10px rgba(201,168,106,.25),
  0 0 25px rgba(201,168,106,.18),
  0 0 40px rgba(201,168,106,.10);

animation:pulse 3s ease-in-out infinite;

}

h1{

font-family:'Cormorant Garamond',serif;

font-size:52px;

font-weight:600;

letter-spacing:2px;

color:var(--text);

margin-bottom:42px;

text-shadow:
  0 2px 10px rgba(0,0,0.35);

}

.progress-container{

width:100%;
height:8px;

background:rgba(255,255,255,.08);

border-radius:30px;

overflow:hidden;

margin-bottom:30px;

}

#progressBar{

height:100%;

width:0%;

background:linear-gradient(
  90deg,
  #B89255
  #C9A86A
  #E3C78D
  );

box-shadow:
  0 0 10px rgba(201,168,106,.25),
  0 0 20px rgba(201,168,106,12);

border-radius:30px;

transition:width .35s ease;

}

#loadingText{

font-family:'JetBrains Mono',monospace;

font-size:15px;

color:var(--muted);

min-height:30px;

letter-spacing:1px;

line-height:1.8;

opacity:.85;

transition:.5s;

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0);
}
}

.finished{

display:flex;
flex-direction:column;
align-items:center;
gap:22px;
}

.finished p{

fontfamily:'Cormorant Garamond',serif;
font-size:24px;
color:var(--text);
line-height:1.5;
}

.fadeBtn{
opacity:0;
animation:fadeIn .8s forwards;
background:none;
border:1px solid var(--gold);
padding:12px 26px;
border-radius:30px;
cursor:pointer;
font-size:15px;
transition:3s;
}

.fadeBtn.hover{
  background:var(--gold);
  color:var(--gold);
  transform:translateY(-2px);
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(8px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

#beginBtn{
background:transparent;
border:1px solid var(--gold);
color:vaar(--gold);
padding:12px 34px;
font-family:'Inter',sans-serif;
font-size:15px;
border-radius:999px;
cursor:pointer;
transition:.35s ease;
}

#beginBtn:hover{
  background:var(--gold);
  color:var(--bg);
  transform:translateY(-2px)
}

/* =====================================================
                 CINEMATIC INTRO V2
===================================================== */

.scene{

position:relative;
width:100vw;
height:100vh;
overflow:hidden;
background:#000;

}

.room{

position:absolute;
inset:0;

width:100%;
height:100%;

object-fit:cover;

opacity:0;

animation:

fadeRoom 2s ease forwards,
cameraMove 15s ease forwards;

filter:

brightness(.52)
contrast(1.12)
saturate(1.02);

will-change:transform;

}

.dust{

position:absolute;
inset:0;
pointer-events:none;
overflow:hidden;
}

.dust::before,
.dust::after{
  content:"";
  position:absolute;
  width:5px;
  height:5px;

  background:rgba(255,245,220,.42);
  border-radius:50%
  box-shadow:
4vw 8vh rgba(255,245,220,.16),
9vw 22vh rgba(255,245,220,.22),
14vw 62vh rgba(255,245,220,.18),
21vw 35vh rgba(255,245,220,.12),
28vw 80vh rgba(255,245,220,.20),
35vw 18vh rgba(255,245,220,.15),
42vw 72vh rgba(255,245,220,.18),
50vw 40vh rgba(255,245,220,.22),
57vw 12vh rgba(255,245,220,.16),
64vw 60vh rgba(255,245,220,.18),
72vw 28vh rgba(255,245,220,.20),
80vw 75vh rgba(255,245,220,.14),
88vw 45vh rgba(255,245,220,.18),
95vw 18vh rgba(255,245,220,.20);

  animation: dustDrift 26s linear infinite;
  filter:blur(.4px);
}

.dust::after{
  animation-duration:18s;
  opacity:.8;
  transform:scale(.8);
}

.vignette{

position:absolute;
inset:0;

background:

radial-gradient(circle,
transparent 45%,
rgba(0,0,0,.45) 100%);

pointer-events:none;

}

@keyframes fadeRoom{

from{

opacity:0;

}

to{

opacity:1;

}

}

@keyframes cameraMove{

0%{

transform:
  translateX(0px)
  translateY(0px)
  rotate(.2deg)
  scale(1);
  filter:blue(3px);

}

20%{
  filter:blur(2px);
}

40%{
  filter:blue(1px);
}

60%{

transform:
  translateX(-6px)
  translateY(-5px)
  rotate(.1deg)
  scale(1.08);
  filter:blur(.4px)

}

  100%{
    transform:
      translateX(-18px)
      translateY(-14px)
      rotate(0deg)
      scale(1.22);
    filter:blur(0px)
  }

}

@keyframes dustDrift{

0%{

transform:translateY(18px)
translateX(0px);

}

50%{
  transform:
    translateY(-10px)
    translateX(8px)
}

100%{

transform:translateY(-35px)
  translateX(-6px);
}

}

body::after{
  content:"";
  position:fixed;
  inset:0;
  background:#000;
  pointer-events:none;
  animation:
    fadeBlack 2.2s ease forwards;
  z-index:999;
}

@keyframes fadeBlack{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

/* ===========================
      DESK + ENVELOPE
=========================== */

.desk-container {

    position: absolute;

    left: 50%;
    top: 58%;

    width: 950px;

    transform: translate(-50%, -50%);

    z-index: 5;

}

.desk {

    width: 100%;

    opacity: 0;

    animation: deskAppear 2s ease forwards;

    animation-delay: 1.5s;
}

#envelope {

    position: absolute;

    width: 320px;

    left: 50%;
    top: 48%;

    opacity: 0;

    transform: translate(120%, -50%) rotate(-10deg);

    animation: envelopeEnter 2.5s ease forwards;

    animation-delay: 3s;

    filter: drop-shadow(0 10px 25px rgba(0,0,0,.35));
}

@keyframes deskAppear {

    from {

        opacity: 0;
        transform: scale(.92);

    }

    to {

        opacity: 1;
        transform: scale(1);

    }

}

@keyframes envelopeEnter {

    0% {

        opacity: 0;

        transform:
            translate(120%, -50%)
            rotate(-10deg);

    }

    80% {

        opacity: 1;

        transform:
            translate(-47%, -50%)
            rotate(2deg);

    }

    100% {

        opacity: 1;

        transform:
            translate(-50%, -50%)
            rotate(0deg);

    }

}
